.page {
  background-color: #676179;
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__wrapper {
  display: flex;
  gap: 5%;
  background-color: #2b2738;
  padding-inline-start: 15px;
  padding-inline-end: 45px;
  padding-block: 15px;
  border-radius: 15px;
  max-height: 690px;
  width: clamp(21rem, 9.3803rem + 49.5775vw, 54rem);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.page__image-wrapper {
  width: 100%;
  height: 100%;
  height: 660px;
}

.page__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.slider {
  position: relative;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}

.slider__prev,
.slider__next {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider__prev {
  left: 10px;
}

.slider__next {
  right: 10px;
}

.registration {
  width: 50%;
  padding-block: 45px;
}

.registration__title {
  margin-bottom: 20px;
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  letter-spacing: 0.1rem;
}

.registration__text {
  margin-bottom: 30px;
}

.registration__link {
  color: #6e54b5;
  text-decoration: underline;
  cursor: pointer;
}

.registration__fieldset {
  display: flex;
  justify-content: space-between;
}

.registration__fieldset .registration__field {
  width: 48%;
}

.registration__field {
  display: block;
}

.registration__input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 15px;
  margin-bottom: 20px;
  color: #fff;
}

.registration__input::placeholder {
  color: #9389a9;
}

.registration__input--date {
  width: 100%;
  padding-block: 14px;
  padding-inline: 20px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  color: #9389a9;
  margin-bottom: 0;
}

/*.registration__input--date:focus {*/
/*  border-color: #007bff;*/
/*  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);*/
/*}*/

.registration__actions {
  display: flex;
  justify-content: space-between;
}

.registration__actions .registration__field {
  width: 48%;
}

.registration__submit {
  border-radius: 5px;
  width: 48%;
  font-size: 16px;
  background-color: #6e54b5;
  color: #fff;
  cursor: pointer;
}

.button_inactive {
  background-color: #d3d3d3;
  color: #a1a1a1;
  cursor: not-allowed;
  opacity: 0.7;
}

.registration__divider {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 20px 0;
}

.registration__divider::before,
.registration__divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #9389a9;
  margin: 0 10px;
}

.registration__divider-text {
  font-size: 14px;
  color: #9389a9;
  padding: 0 10px;
}

.registration__social {
  display: flex;
  justify-content: space-between;
}

.registration__social-button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding-block: 14px;
  padding-inline: 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #9389a9;
  cursor: pointer;
}

.registration__social-icon {
  width: 25px;
  height: 25px;
}

@media (max-width: 1023px) {
  .page__wrapper {
    gap: 0;
    padding-inline: 5%;
  }

  .slider {
    display: none;
  }

  .page__image-wrapper {
    width: 0;
  }

  .registration {
    width: 100%;
  }
}
