.page {
  background-color: var(--background-primary);
  color: var(--main-font-color);
  font-family: var(--main-font), sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__wrapper {
  display: flex;
  gap: 5%;
  background-color: var(--background-secondary);
  padding-inline-start: 15px;
  padding-inline-end: 45px;
  padding-block: 15px;
  border-radius: 15px;
  width: clamp(21rem, 9.3803rem + 49.5775vw, 54rem);
  box-shadow: 5px 5px 20px var(--box-shadow-color);
}

.page__image-wrapper {
  width: 100%;
  height: 100%;
}

.page__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.slider {
  position: relative;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}

.slider__prev,
.slider__next {
  background: var(--slider-button-bg-color);
  color: var(--main-font-color);
  border: none;
  border-radius: 50%;
  padding-inline: 10px;
  padding-block: 8px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider__prev {
  left: 10px;
}

.slider__next {
  right: 10px;
}

.slider__back {
  background: var(--input-bg-color);
  color: var(--main-font-color);
  border: none;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 5%;
  right: 5%;
  transform: translateY(-50%);
  border-radius: 20px;
}

.registration {
  width: 50%;
  padding-block: 20px;
}

.registration__title {
  margin-bottom: 20px;
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  letter-spacing: 0.1rem;
}

.registration__text {
  margin-bottom: 30px;
}

.registration__link {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.registration__fieldset {
  display: flex;
  justify-content: space-between;
}

.registration__fieldset .registration__field {
  width: 48%;
}

.registration__field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.registration__field:first-of-type {
  display: flex;
  align-items: start;
  position: relative;
}

.registration__input {
  width: 100%;
  background-color: var(--input-bg-color);
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 15px;
  color: var(--main-font-color);
}

.registration__input[type="checkbox"] {
  appearance: none;
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0;
}

.registration__input[type="checkbox"] + .registration__label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--main-font-color);
  border-radius: 5px;
  margin-right: 10px;
}

.registration__input[type="checkbox"]:focus + .registration__label::before {
  outline: 2px solid var(--main-font-color);
}

.registration__input[type="checkbox"]:checked + .registration__label::before {
  background-image: url("../check.svg");
  background-size: 16px 16px;
}

.registration__input::placeholder {
  color: var(--secondary-accent-color);
}

.registration__input--date {
  width: 100%;
  padding-block: 14px;
  padding-inline: 20px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: var(--input-bg-color);
  color: var(--secondary-accent-color);
  margin-bottom: 0;
}

.form__input-error_active {
  display: block;
  position: absolute;
  background-color: var(--error-color);
  color: var(--main-font-color);
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
  top: 100%;
  left: 0;
  transform: translateY(5px);
  z-index: 10;
  box-shadow: 0 2px 6px var(--slider-button-bg-color);
}

.form__input_type_error {
  border: 1px solid var(--error-color);
}

.registration__actions {
  display: flex;
  justify-content: space-between;
}

.registration__actions .registration__field {
  margin-bottom: 0;
  width: 48%;
}

.registration__submit {
  border-radius: 5px;
  width: 48%;
  font-size: 16px;
  background-color: var(--accent-color);
  color: var(--main-font-color);
}

.button_inactive {
  background-color: var(--button-inactive-bg-color);
  color: var(--button-inactive-font-color);
  cursor: not-allowed;
  opacity: 0.7;
}

.registration__divider {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 20px 0;
}

.registration__divider::before,
.registration__divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--secondary-accent-color);
  margin: 0 10px;
}

.registration__divider-text {
  font-size: 14px;
  color: var(--secondary-accent-color);
  padding: 0 10px;
}

.registration__social {
  display: flex;
  justify-content: space-between;
}

.registration__social-button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding-block: 14px;
  padding-inline: 20px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--main-font-color);
  border: 1px solid var(--secondary-accent-color);
}

.registration__social-icon {
  width: 25px;
  height: 25px;
}

@media (max-width: 1023px) {
  .page__wrapper {
    gap: 0;
    padding-inline: 5%;
  }

  .slider {
    display: none;
  }

  .page__image-wrapper {
    width: 0;
  }

  .registration {
    width: 100%;
  }
}
